psycopg2-binary==2.9.9
pgvector==0.2.5
chromadb==0.4.24
langchain==0.1.17
langchain-chroma==0.1.0
langchain-cohere==0.1.8
langchain-community==0.0.37
langchain-core==0.2.9
langchain-postgres==0.0.9
langchain-text-splitters==0.0.1
transformers==4.40.1
sentence-transformers==2.7.0
nltk==3.8.1
openai==0.28.0
cohere==5.5.8
torch==2.3.0
torchvision==0.18.0
timm==0.9.16
fastapi==0.111.0
starlette==0.37.2
uvicorn==0.29.0
requests==2.31.0
pandas==2.2.2
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.4.2
pydantic==2.7.1
protobuf==4.25.3
pyyaml==6.0.1